<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>修改用户信息</title>
</head>

<style>
  input {
    width: 200px;
    padding: 5px;
    margin: 5px;
  }

  button {
    margin-left: 85px;
  }
</style>

<body>

  <form action="/update_confirm?index=<%=index%>" method="post">
    <input type="text" name="name" placeholder="姓名" value="<%=student.name%>" /> <br>
    <input type="text" name="gender" placeholder="性别" value="<%=student.gender%>" /> <br>
    <input type="text" name="address" placeholder="地址" value="<%=student.address%>" /> <br>
    <button>修改</button>
  </form>

</body>

</html>